[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flask = "*"
flask-wtf = "*"
wtforms = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
itsdangerous = "*"
flask-mail = "*"

[requires]
python_version = "3.11"
